/* RESET */
*{margin:0;padding:0;box-sizing:border-box}

html,body{
  width:100%;
  height:100%;
  font-family:system-ui;
}

/* VARIABLES */
:root{
  --bg:#000;
  --text:#f4f4f4;
  --panel:#1a1a1a;
  --card:#2a2a2a;
  --danger:red;
}

/* BODY */
body{
  background:var(--bg);
  color:var(--text);
  transition:.3s;
}

/* LAYOUT */
main{height:100%;display:flex;flex-direction:column}

/* NAV */
nav{
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.nav-center{
  font-size:14px;
  opacity:.85;
}

nav button{
  background:var(--panel);
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:10px;
  cursor:pointer;
}

/* BOARD */
section{
  padding:15px 30px;
  display:flex;
  gap:30px;
  flex:1;
}

.task-column{
  background:var(--panel);
  flex:1;
  padding:10px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  gap:15px;
  transition:.2s;
}

.task-column.hover-over{
  border:2px dashed white;
  transform:scale(1.02);
}

.heading{
  display:flex;
  justify-content:space-between;
}

/* TASK */
.task{
  background:var(--card);
  padding:10px;
  border-radius:10px;
  cursor:grab;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.task h2{
  margin:0;
  font-size:16px;
}

.task p{
  margin:0;
  opacity:.85;
  font-size:14px;
}

.task .date{
  font-size:12px;
  opacity:.7;
}

.task-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.task button{
  background:var(--danger);
  color:white;
  border:none;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
  height: min-content;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  display:none;
  justify-content:center;
  align-items:center;
}

.modal.active{display:flex}

.modal .bg{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.5);
}

.modal .center{
  background:var(--panel);
  padding:30px;
  border-radius:10px;
  z-index:1;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.modal input,.modal textarea{
  background:var(--card);
  border:none;
  color:white;
  padding:10px;
  border-radius:5px;
}

/* MOBILE */
@media(max-width:768px){
  section{flex-direction:column}
}
